@import "tailwindcss";
/* Import Google Font at the top of your CSS file */
/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+NO:wght@100..400&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}



